/* ---==>STYLES<== --- */

/*  */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("images/background.png");
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  main {
    margin: 80px 0;
  }
  
  .block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
  

  /* ====>NAV<=== */
  #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background: #4aaaa5;
  }
  
  /* override bootstrap hover color and border */
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
  }
  
  .navbar {
    background: white;
    border: none;
  }
  
  
  /* ==>FOOTER<== */
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666;
  }
  
  .text-muted-footer {
    margin-top: 15px;
    color: #fff;
  }
  
  .two-toned-footer-color {
    height: 6px;
    padding-top: 3px;
    background-color: #4aaaa5;
  }

  /* ==>ABOUT-ME PAGE<== */
  .about-me-header {
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  #about-image {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
  }

/* ==>CONTACT PAGE<==  */
  .form-control {
      border-radius: 0;
      min-width: 100%;
      max-width: 100%;
    }
    
  .submit-btn {
      padding: 15px 30px;
      font-size: 16px;
      font-weight: lighter;
      color: #fff;
      background-color: #4aaaa5;
      border: 0;
    }
    
  .submit-btn:hover {
      opacity: .7;
    }

textarea{
    height: 100px !important;
  }
  .button{
    width: 100%;
      height: 50px;
      border: none;
      outline: none;
      background: #03A9F4;
      color: #fff;
  }

  #contact-form ul {
	margin-bottom: 20px;
	list-style-type: none;
  }
  
#contact-form li {
	margin-bottom: 10px;
	list-style-type: none;
  }
  
label,
input[type=text],
input[type=email],
input[type=phone],
textarea {
	display: block;
	width: 100%;
  }
  
input[type=text],
input[type=email],
input[type=phone],
textarea {
	height: 35px;
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ddd;
  }
  
textarea {
	height: 200px;
  }
  
input[type=submit] {
	padding: 10px 30px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background: #4aaaa5;
	border: 0 none;
  }
	






  
  /* ==>PORTFOLIO PAGE<== */
  .card-img-top {
    margin: 20px auto;
  }